@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    margin: 0px;
}

body { 
    font-family: Arial, sans-serif; 
    background: color #000; 
    justify-content: center; 
    align-items: center; 
    background-image: url("../imagens/Untitled\ Project.jpg") ;
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 

main{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.login-container { 
    background-color: #ffffff; 
    padding: 50px; 
    border-radius: 8px 8px 8px 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 320px; 
    text-align: center;
}  

main h1 { 
    margin-bottom: 20px; 
    color: #333; 
} 

input[type="text"], 
input[type="password"] { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} 

input[type="date"],
input[type="email"]{
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

button { 
    background-color: #616e6b; 
    color: white;
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 30%; 
} 

button:hover { 
    background-color: #81cad2; 
} 

.imagem-container{
    border-radius: 0%;
    width: 290px;
    height: 503px;
    background-size: cover;
}

.alguma-coisa{
    width: 590px;
    height: 604px;
    border-radius: 0px 8px 8px 0px;
}

main a{
    text-decoration: none;
    color:#ffffff;
}

.voltar{
    color: #0011ff;
    text-decoration: underline;
}

header {
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

header div {
    display: flex;
    width: 600px;
    margin-left: 10px;
}

header>div>figure>img {
    height: 60px;
}

header>div h1 {
    font-size: 5vh;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
    text-decoration: underline;
    margin: 0.5%;
    align-items: center;
}

nav {
    text-align: right;
    top: 0;
    left: 0;
    z-index: 10;
}

header>nav>a {
    padding: 0px 10px;
    border-radius: 5px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    transition-duration: 0.5s;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
}

header>nav>a:hover {
    padding: px 10px;
    background-color: #ffffff;
    text-decoration-line: underline;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    font-weight: bolder;
    text-shadow: none;
}

@media screen and (max-width: 1264px) {
    .imagem-container {
        display: none;
    }
}

@media screen and (max-width: 800px) and (max-height: 500px) {

    header>div>figure>img {
        height: 8vh;
    }
}

@media screen and (max-width: 1264px) and (min-width: 800px) and (max-height: 500px) {

    header>div>figure>img {
        height: 8vh;
    }
}

@media screen and (max-width: 1100px) and (max-height: 1400px) and (min-height: 1000px){
    header>div{
        width: auto;
        align-items: center;
    }
    header>div h1 {
        font-size: xx-large;
        margin-left: 0px;
        margin-right: 0px;
    }

    header>nav>a{
        font-size: x-large;
    }
}

@media screen and (max-width: 550px){

    header {
        display: block;
        justify-content: space-around;
    }

    header> div{
        width: auto;
    }
    
    header>div h1 {
        margin: 0px;
    }

    header>nav>a {
        padding: 1px;
        font-size: larger;
    }

    header figure {
        display: none;
    }
}