@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    font-family: Arial, sans-serif; 
    background: color #000; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-image: url("../imagens/Untitled\ Project.jpg") ;
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.texto-h{
    text-align: justify;
}

div.texto{
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    min-width: 280px;
}

div.fotos{
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 280px; 
}

img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

header {
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

header div {
    display: flex;
    align-items: center;
    width: 400px;
    margin-left: 10px;
    padding: 0px;
    margin: 0px;
    background-color: #0000;
}

header>div>figure{
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

header>div>figure>img {
    height: 60px;
    width: auto;
}

header>div h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-variant: small-caps;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
    text-decoration: underline;
    margin: 0.5%;
    align-items: center;
}

nav {
    text-align: right;
    top: 0;
    left: 0;
    z-index: 10;
}

header>nav>a {
    padding: 0px 10px;
    border-radius: 5px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-size: 22.5px;
    transition-duration: 0.5s;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
}

header>nav>a:hover {
    padding: px 10px;
    background-color: #ffffff;
    text-decoration-line: underline;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    font-weight: bolder;
    text-shadow: none;
}

@media screen and (max-width: 1264px) {

    main#informaçoes{
        display: block;
        justify-items: center;
    }

}

@media screen and (max-width: 550px){
    main#informaçoes{
        display: block;
    }

    header {
        display: block;
        justify-content: space-around;
    }

    header> div{
        width: auto;
    }
    
    header>div h1 {
        margin: 0px;
    }

    header>nav>a {
        padding: 1px;
        font-size: larger;
    }

    header figure {
        display: none;
    }
}