@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    margin: 0px;
}

body {
    box-sizing: border-box;
    background-image: url(../imagens/Untitled\ Project.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: hsla(0, 0%, 0%, 0.5);
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

header div {
    display: flex;
    align-items: center;
    width: 357px;
    margin-left: 10px;
}

header>div>figure>img {
    height: 60px;
}

header>div h1 {
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
    text-decoration: underline;
    margin: 0.5%;
    align-items: center;
}

nav {
    text-align: right;
    top: 0;
    left: 0;
    z-index: 10;
}

header>nav>a {
    padding: 0px 10px;
    border-radius: 5px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-size: 22.5px;
    transition-duration: 0.5s;
    font-weight: bolder;
    font-family: "Concert One", sans-serif;
}

header>nav>a:hover {
    padding: px 10px;
    background-color: #ffffff;
    text-decoration-line: underline;
    color: rgb(0, 0, 0);
    transition-duration: 0.5s;
    font-weight: bolder;
    text-shadow: none;
}

article {
    padding: 10px;
}

article#p {
    padding-bottom: 5vw;
    height: 90vh;
}

article#p>h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    font-size: 7vh;
    font-family: "Concert One", sans-serif;
    margin: auto;
    margin: 0px 10%;
    transition: 0.5s;

}

article#p>p {
    background-color: rgba(250, 235, 215);
    text-align: center;
    width: 60vw;
    font-size: 2.9vh;
    font-family: "Pangolin", cursive;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    margin: auto;
    text-decoration: dotted;
}

article#p>figure>img {
    width: 50vh;
    margin-top: 10px;
    max-width: 1000px;
    min-width: 300px;
    transition: 0.5s;
}

article#p>figure {
    text-align: center;
}

article#p>figure>img:hover {
    transform: scale(1.1);
}

article#c {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}

article#c>p {
    font-size: 250%;
    text-align: center;
    font-family: "Concert One", sans-serif;
}

article#c aside {
    margin: auto;
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

article#c>aside#d {
    justify-content: space-evenly;
}

article#c>aside#j {
    align-items: center;
}

article#c>aside#j>aside#jj {
    margin: 0px;
    width: 1010px;
}

article#c aside>div {
    height: 500px;
    width: 400px;
    margin: 5px;
    border: solid 5px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    align-items: center;
}

div>figure {
    border-radius: 10px;
}

article#c aside>div>figure>img {
    height: 300px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}


.ff {
    height: 38%;
    font-size: 120%;
    font-family: "Pangolin", cursive;
    text-align: justify;
    justify-items: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
}

article#f,
article#v {
    background-color: #ffffff;
}

article#f {
    text-align: center;
}

article#f>aside>h1,
article#v>aside>h1 {
    font-size: 250%;
    text-align: center;
    font-family: "Concert One", sans-serif;
}

article#f>aside>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

article#f>aside>div>figure>img {
    width: 500px;
    height: 500px;
}

article#f>aside>div>p {
    font-size: 200%;
    text-align: center;
    font-family: "Concert One", sans-serif;
    margin: 50px;
}

article#v {
    padding: 0.1px;
}

article#v>aside div {
    display: flex;
    justify-content: center;
    align-items: center;
}

article#v>aside>h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

article#v>aside div>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    font-weight: bolder;
}

article#v>aside div>a>button {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

article#v>aside div>a>button:hover {
    background-color: limegreen;
    color: #000000;
}

iframe {
    width: 700px;
    height: 500px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

footer>div {
    margin: auto;
    width: 500px;
}

footer>figure img {
    width: 200px;
    height: 200px;
}

div#criadores>p,
div#emergencia>p,
div#emergencia>h1,
div#criadores>h1 {
    text-align: center;
}

@media screen and (max-width: 1264px) {
    
    header>div h1{
        font-size: 35px;
    }

    header > nav {
        width: auto;
    }

    header>nav a{
        font-size: 20px;
        padding: 0px 5px 0px 0px;
    }
    article#c>aside {
        display: block;
        margin: 0px;
    }

    article#c>aside>div {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article#v>aside>div#Escolha{
        display: block;
    }

    article#v>aside>div p{
        text-align: center;
    }

    div#frameborder{
        justify-tracks: center;
        align-items: center;
    }

}

@media screen and (max-width :740px) {
    article#f>aside>div {
        display: block;
    }
}

@media screen and (max-width: 500px) {

    header {
        height: 10vw;
    }

    header>div {
        width: 150px;
    }
    
    header>div h1 {
        font-size: 20px;
        height: 20px;
        margin: 0px;
    }

    header> nav {
        width: auto;
    }

    header>nav>a {
        font-size: 10px;
        padding: 1px;
    }

    header figure {
        display: none;
    }

    article#p>h1{
        font-size: 30px;

    }

    article#p>figure{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    article#p>figure> img {
        width: 63vw;
        min-width: 0px;
        max-width: 300px;
        margin: 10px 0px 10px 0px;
    }

    article#p>p {
        font-size: 15px;
        width: 90vw;
        padding: 5px;
    }

    article#c>aside {
        display: block;
        margin: 0px;
    }

    article#c>p{
        font-size: 30px;
    }

    article#c>aside>div {
        margin: auto;
        width: 250px;
        height: 450px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    article#c>aside>div>figure> img {
        width: 100%;
        height: 252.45px;
    }

    .ff {
        height: 38%;
        font-size: 15px;
    }

    article#f>aside {
        margin: 0px;
    }

    article#f>aside>h1{
        font-size: 30px;
    }

    article#f>aside>div {
        display: block;
        width: 95vw;
        height: auto;
        margin: 50px 0px 50px 0px;
    }

    article#f>aside>div>figure {
        margin: auto;
    }

    article#f>aside>div>figure>img {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    article#f>aside>div>p {
        font-size: 15px;
        margin: auto;
    }

    article#v>aside>h1 {
        font-size: 30px;
    }

    article#v>aside>div{
        width: 700px;
    }

    article#v>aside>div>p{
        font-size: 20px;
        text-align: center;
    }

    article#v>aside div>a>button{
        width: 80px;
        padding: 0px;
        font-size: 15px;
    }

    iframe {
        width: 90%;
    }

    article#v {
        margin: 0px;
    }

    footer>figure {
        display: none;
    }

    footer {
        display: block;
    }

    footer div {
        padding: 10px;
    }

    footer div {
        width: 80vw;
    }

    footer h1 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    footer p {
        font-size: 10px;
    }
}